
<configuration debug="true"> 

<appender name="FILE" class="ch.qos.logback.core.FileAppender"> 
<!-- "application-name" is a variable --> 
<!--  C:\Users\adrianoc\Documents\GitHub\-->

 <file>/var/lib/tomcat7/webapps/firefly-log.log</file>
<layout class="ch.qos.logback.classic.PatternLayout"> 
 <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
 
</layout> 
</appender> 
<root level="info"> 
<appender-ref ref="FILE"/> 
</root> 

</configuration> 