
<configuration debug="true"> 

<appender name="FILE" class="ch.qos.logback.core.FileAppender"> 
<!-- "application-name" is a variable --> 
<!--  /var/lib/tomcat7/webapps/-->
<!--C:/Users/admin/Documents/Eclipse/photinus/output-->
<!--C:/Users/admin/Documents/Eclipse/photinus/output-->

 <file>C:/Users/admin/Documents/Eclipse/photinus/output/firefly-log.log</file>
<layout class="ch.qos.logback.classic.PatternLayout"> 
 <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
 
</layout> 
</appender> 

<root level="info"> 
<appender-ref ref="FILE"/> 
</root> 



<appender name="MICROTASK" class="ch.qos.logback.core.FileAppender"> 
<!-- "application-name" is a variable --> 

 <file>C:/Users/admin/Documents/Eclipse/photinus/output/microtask-log.log</file>
 <layout class="ch.qos.logback.classic.PatternLayout"> 
 <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
 
</layout> 
</appender> 

<logger name="microtask" level="INFO" additivity="false">
        <appender-ref ref="MICROTASK"/>
</logger>


<appender name="SESSION" class="ch.qos.logback.core.FileAppender"> 
<!-- "application-name" is a variable --> 

 <file>C:/Users/admin/Documents/Eclipse/photinus/output/session-log.log</file>
 <layout class="ch.qos.logback.classic.PatternLayout"> 
 <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
 
</layout> 
</appender> 

<logger name="session" level="INFO" additivity="false">
        <appender-ref ref="SESSION"/>
</logger>

<appender name="CONSENT" class="ch.qos.logback.core.FileAppender"> 
<!-- "application-name" is a variable --> 

 <file>C:/Users/admin/Documents/Eclipse/photinus/output/consent-log.log</file>
<layout class="ch.qos.logback.classic.PatternLayout"> 
 <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
 
</layout> 
</appender> 

<logger name="consent" level="INFO" additivity="false">
        <appender-ref ref="CONSENT"/>
</logger>


</configuration> 